.ap-heading {
  margin-left: 12rem;
  margin-top: 2rem;
}

.ap-large {
  color: #03ac78;
  font-size: 2.5rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}
.ap-lead {
  color: #03ac78;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
.ap-profile {
  width: 75%;
  margin-left: 12rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.ap-app-body {
  margin-left: 12.8rem;
}
@media screen and (max-width: 960px) {
  .ap-large {
    font-size: 2rem;
    line-height: 1;
  }
  .ap-heading {
    margin-left: 4rem;
    margin-top: 7rem;
  }
  .ap-profile {
    width: 100%;
    margin-left: 4rem;
  }
}
