.p-my-1 {
  margin: 0.2rem 0;
}

.p-profile {
  width: 75%;
  display: grid;
  box-shadow: 2px 1.5px 6px 1px grey;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  grid-gap: 2rem;
  padding: 1rem;
  line-height: 1.8;
  margin-bottom: 1.2rem;
}

.p-round-img {
  border-radius: 50%;
  width: 4.5rem;
}

@media screen and (max-width: 960px) {
  .p-profile {
    grid-template-columns: 1fr;
    text-align: center;
  }
}
