.pt-post {
  display: grid;
  grid-template-columns: 1fr 6fr;
  grid-gap: 1rem;
  justify-content: center;
  align-items: center;
  line-height: 1.5rem;
  border: 1px solid grey;
  padding: 1.5rem;
  margin: 3rem 12rem;
  width: 80%;
  border-radius: 1px;
}
.pt-user-grp {
  display: flex;
  justify-content: center;
  margin-bottom: 4rem;
}
.pt-user-grp h4 {
  margin-top: 0.2rem;
  margin-left: 0.5rem;
  text-decoration: none;
}
.pt-post-body {
  display: flex;
  margin-left: 0.5rem;
}

.pt-post-date {
  font-size: 0.8rem;
  margin-bottom: 1rem;
}

.pt-comment-section {
  display: flex;
  justify-content: center;
  margin-left: -60rem;
}
.pt-text {
  margin: 2rem 0;
}

.pt-p-1 {
  padding: 1rem;
}

.post .post-date {
  color: #aaa;
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}

.pt-round-img {
  border-radius: 50%;
  width: 3rem;
}

.pt-element {
  margin-left: 1.2rem;
  /* margin-right: -15rem; */
  cursor: pointer;
}

.pt-comment {
  text-decoration: none;
  padding: 0.5rem;
  background: #03ac78;
  border-radius: 5px;
  color: white;
}

@media (max-width: 768px) {
  .pt-post {
    width: 90%;
    margin-left: 2rem;
  }
  .pt-comment-section {
    margin-left: -12rem;
  }
}
