.btn{
    padding: .7rem 5rem;
    background: #01CBC6;
    color: white;
    font-size: 1rem;
    border: 1px solid white;
    border-radius: .5rem;
    cursor: pointer;
}
.btn:hover{
    background: #8cd8d6;
}