.showEdu-my-2 {
  margin: 2rem 0;
  font-size: 2rem;
  color: #03a87c;
}

.showEdu-table-grp {
  margin-left: 12.8rem;
  margin-top: 8rem;
}

.showEdu-table th,
.showEdu-table td {
  padding: 1rem;
  text-align: left;
}

.showEdu-table th {
  background: #03a87c;
  color: white;
}

@media screen and (max-width: 960px) {
  .showEdu-table-grp {
    margin-left: 2rem;
    margin-top: 8rem;
  }
  .showEdu-hide-sm {
    display: none;
  }
}
