h1 {
  color: #03a87c;
}

.manage-main-body {
  margin-left: 8rem;
}
.large {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem;
  margin-top: 5rem;
  margin-left: 12.5rem;
}

.lead {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  margin-left: 12.5rem;
}

h4 {
  line-height: 1.2;
  margin-bottom: 1rem;
  margin-top: 1rem;
  margin-left: 12.5rem;
}

.create-profile {
  line-height: 1.2;
  margin-bottom: 1rem;
  margin-top: 3rem;
  margin-left: 12.5rem;
}

.create-profile Button {
  margin-top: 1rem;
}

.delBtn-my-2 {
  margin-left: 12.8rem;
  margin-top: 6rem;
}
.free-space {
  margin-bottom: 17rem;
}

.first-card {
  border: 1px solid #03ac78;
  margin-top: 5rem;
  width: 80%;
  margin-left: 5rem;
  padding: 1rem 0 1rem 0;
  border-radius: 10px;
}

.mp-company {
  margin-left: 33%;
}

@media screen and (max-width: 960px) {
  .large {
    margin-top: 8rem;
    margin-left: 1.5rem;
  }

  .lead {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    margin-left: 1.5rem;
  }

  h4 {
    line-height: 1.2;
    margin-bottom: 1rem;
    margin-top: 1rem;
    margin-left: 1.5rem;
  }

  .create-profile {
    margin-bottom: 1rem;
    margin-top: 3rem;
    margin-left: 1.5rem;
  }

  .create-profile Button {
    margin-top: 1rem;
    width: 95%;
  }

  .delBtn-my-2 {
    margin-left: 2.3rem;
    width: 79%;
    margin-top: 6rem;
  }

  .manage-main-body {
    margin-left: -0.2rem;
  }
  /* .mp-info {
    margin-left: -3rem;
  } */
}
