.showExp-my-2 {
  margin: 2rem 0;
  font-size: 2rem;
  color: #03a87c;
}
.showExp-btn {
  color: red;
  font-size: 1.3rem;
  cursor: pointer;
}
.showExp-table-grp {
  margin-left: 5rem;
  margin-top: 1rem;
  border: 1px solid #03a87c;
  padding: 1rem 1rem 1rem 1rem;
  border-radius: 10px;
  width: 37.25%;
}
.main-exp {
  display: flex;
  justify-content: space-between;
}

.main-exp-details {
  display: flex;
  justify-content: space-around;
  line-height: 2rem;
  font-size: 1rem;
  margin-left: -1rem;
}
.main-exp-details p {
  margin-right: 2rem;
}
.showExp-table {
  padding: 1rem;
  text-align: left;
}

@media screen and (max-width: 960px) {
  .showExp-table-grp {
    margin-left: 2rem;
    margin-top: 8rem;
  }
  .showExp-hide-sm {
    display: none;
  }

  .main-exp-details {
    display: grid;
  }
  .showExp-my-2 {
    margin-left: -0.5rem;
  }
}
